.buy-now {
  background: #0066cb;
}
.buy-now img {
  width: 263.33px;
  height: 263.33px;
  left: 377.67px;
  top: 4112px;
}

@media (max-width: 700px) {
  .buy-now img {
    width: 100px;
    height: 100px;
    align-items: center;
  }
}
